/node_modules
/.pnp
.pnp.js

# testing
/coverage



# misc
.DS_Store
npm-debug.log
yarn-error.log
coverage
.idea
.vite
*.local
*.log
.env.local
.env.development.local
.env.test.local

.env.production.local
.env.test
.env.production
*.iml


# Ignore Mac system files
/build
/dist
/README.md
LICENSE
